<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>博客登录页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/my.css">

</head>
<body>

<div class="m-container-tiny m-padded-tb-massive " >
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal header">
                    <div class="content title-header-end">
                        管理后台登录
                    </div>
                </h2>
                <form method="post" action="#" th:action="@{/admin/login}" class="ui large form">
                    <div class="ui segment ">
                        <div class="field m-padded-tb-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名"/>
                            </div>
                        </div>
                        <div class="field m-padded-tb-small">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password"  name="password" placeholder="密码">
<!--                                <input type="password" name="password" id="md5pwd" hidden/><br/>-->
                            </div>
                        </div>
                        <button  class="ui fluid large teal  button submit login-btn-end m-padded-low login-text-btn">登  录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui negative mini message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                    rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>
</body>
</html>